<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>监控角色</title>
  <link rel="stylesheet" href="../../static/common/layui-src/dist/css/layui.css">
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div class="monitor">
    <div class="wrapper wrapper-one">
      <div class="header">
        <h2>数据资料</h2>
        <div class="icon">
          <a href="./../warning/index.html" cl><span class="layui-icon layui-icon-add-circle"></span> 查看详情</a>
        </div>
      </div>
      <div class="layui-row">
        <div  class="layui-col-lg5 layui-col-md5 layui-col-sm5 layui-col-xs12" style=" height:380px;">
          <div id="pie1" style=" height:50%;"></div>
          <div id="pie2" style=" height:50%;"></div>
        </div>
        <div  class="layui-col-lg7 layui-col-md7 layui-col-sm7 layui-col-xs12" style=" height:380px;">
          <div id="line1" style=" height:60%;"></div>
          <div class="list_info" style=" height:40%;">
            <ul>
              <li style=" background-color: #ff4b7b">
                <h6>数据总量</h6>
                <span>1788</span><span style="font-size: 18px;">万张</span>
              </li>
              <li style=" background-color: #5690fe">
                <h6>数据总量</h6>
                <span>1788</span><span style="font-size: 18px;">年张</span>
              </li>
              <li style=" background-color: #77eaca">
                <h6>数据总量</h6>
                <span>1788</span><span style="font-size: 18px;">个</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
        <div class="header">
          <h2>运维信息</h2>
        </div>
        <div class="layui-row">
          <div id="operation1" class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12" style=" height:300px;"></div>
          <div id="operation2" class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12" style=" height:300px;"></div>
          <div id="operation3" class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12" style=" height:300px;"></div>
          <div id="operation4" class="layui-col-lg3 layui-col-md6 layui-col-sm6 layui-col-xs12" style=" height:300px;"></div>
        </div>
      </div>
      <div class="wrapper wrapper-three">
          <div class="header">
            <h2>使用用途</h2>
          </div>
          <div class="layui-row">
            <div id="line2" class="layui-col-lg5 layui-col-md12 layui-col-sm12 layui-col-xs12" style=" height:300px;"></div>
            <div id="line3" class="layui-col-lg5 layui-col-md6 layui-col-sm7 layui-col-xs12" style=" height:300px;"></div>
            <div class="line4 layui-col-lg2 layui-col-md6 layui-col-sm5 layui-col-xs12" style=" height:300px;">
              <div class="line4_btn">
                <button class="down_menu">最多申请<i class="layui-icon layui-icon-triangle-d"></i></button>
                <ul>
                  <li>最少申请</li>
                  <li>最多申请</li>
                </ul>
              </div>
              <div id="line4" style=" height:100%;width:100%;"></div>
            </div>
          </div>
        </div>
  </div>
</body>
<script src="../../static/common/layui-src/dist/layui.js"></script> 
<script src="../../static/common/jquery.js"></script>
<script src="../../static/common/echarts.js"></script>
<script src="../../static/common/echarts-liquidfill.js"></script>
<script src="./index.js"></script>
<script src="./index2.js"></script>
</html>